@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #721991;
}

.header-radar {
  background: #fff;
  padding: 7vh 0 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

@media (max-width: 768px) {
  .header-radar {
    padding: 20px 0 15px 0;
  }
}

.header-radar__wrapper {
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1336px) {
  .header-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .header-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .header-radar__wrapper {
    position: relative;
    max-width: 90%;
  }
}

.header-radar__logo {
  display: block;
  width: 130px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .menu {
    position: absolute;
    background: #fff;
    z-index: 4;
    left: -6%;
    top: 31px;
    width: 0;
    height: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(200vw, 0);
        -ms-transform: translate(200vw, 0);
            transform: translate(200vw, 0);
    opacity: 0;
  }
  .menu._active {
    overflow: auto;
    width: 110vw;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    height: auto;
    max-height: 100vh;
    padding: 40px 6% 30px 5%;
    display: block;
  }
}

.menu__item {
  margin: 0 50px;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  -webkit-transition: color 0.3s ease 0;
  -o-transition: color 0.3s ease 0;
  transition: color 0.3s ease 0;
}

@media (max-width: 1336px) {
  .menu__item {
    margin: 0 35px;
  }
}

@media (max-width: 1199px) {
  .menu__item {
    margin: 0 20px;
  }
}

.menu__item:first-child {
  margin: 0 50px 0 0;
}

@media (max-width: 1336px) {
  .menu__item:first-child {
    margin: 0 35px 0 0;
  }
}

@media (max-width: 1199px) {
  .menu__item:first-child {
    margin: 0 20px 0 0;
  }
}

.menu__item:last-child {
  margin: 0 0 0 50px;
}

@media (max-width: 1336px) {
  .menu__item:last-child {
    margin: 0 0 0 35px;
  }
}

@media (max-width: 1199px) {
  .menu__item:last-child {
    margin: 0 0 0 20px;
  }
}

.menu__item:hover {
  color: #721991;
}

@media (max-width: 991px) {
  .menu__item {
    display: block;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 25px 0;
  }
  .menu__item:first-child {
    margin: 0 0 25px 0;
  }
  .menu__item:last-child {
    margin: 0 0 0 0;
  }
}

.menu__item._active {
  font-weight: bold;
  color: #721991;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item._active:after {
  content: "";
  display: block;
  width: 110%;
  height: 2px;
  background: #721991;
  border-radius: 26px;
  margin: 4px 0 0 0;
}

@media (max-width: 991px) {
  .menu__item._active {
    display: block;
  }
  .menu__item._active:after {
    display: none;
  }
}

.header-radar__burger {
  display: none;
}

@media (max-width: 991px) {
  body._lock {
    overflow: hidden;
  }
  .header-radar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header-radar__burger span {
    position: absolute;
    background-color: #721991;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header-radar__burger:before, .header-radar__burger:after {
    content: "";
    position: absolute;
    background-color: #721991;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header-radar__burger:before {
    content: "";
    top: 0;
  }
  .header-radar__burger:after {
    content: "";
    bottom: 0;
  }
  .header-radar__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header-radar__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header-radar__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.first-radar {
  padding: calc(7vh + 46px) 0 15px 0;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 1025px) {
  .first-radar {
    min-height: auto;
    padding: calc(7vh + 46px) 0 0 0;
  }
}

@media (max-width: 768px) {
  .first-radar {
    padding: 66px 0 0 0;
  }
}

.first-radar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(93vh - 61px);
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .first-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .first-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .first-radar__wrapper {
    max-width: 90%;
  }
}

@media (max-width: 1025px) {
  .first-radar__wrapper {
    min-height: auto;
  }
}

.first-radar__content {
  padding: 10vh 0 0 0;
  width: 40%;
  position: relative;
  z-index: 2;
}

@media (max-width: 1336px) {
  .first-radar__content {
    padding: 8vh 0 0 0;
    width: 50%;
  }
}

@media (max-width: 991px) {
  .first-radar__content {
    padding: 8vh 0 0 0;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .first-radar__content {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .first-radar__content {
    padding: 10px 0 0 0;
  }
}

.first-radar__img {
  position: absolute;
  top: calc(7vh + 46px);
  right: 0;
  width: 60vw;
  height: calc(93vh - 46px);
  background: url("../images/system_img/radar/bg-first.png") top right/contain no-repeat;
}

@media (max-width: 1336px) {
  .first-radar__img {
    width: 50vw;
  }
}

@media (max-width: 1025px) {
  .first-radar__img {
    height: 50vh;
  }
}

@media (max-width: 991px) {
  .first-radar__img {
    background: url("../images/system_img/radar/bg-first.png") bottom right/contain no-repeat;
  }
}

@media (max-width: 768px) {
  .first-radar__img {
    display: none;
  }
}

.first-radar__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #53136a;
}

.first-radar__text {
  margin: 13px 0 0 0;
  font-size: 15px;
  line-height: 153.9%;
}

.first-radar__buttons {
  margin: 27px 0 30px 0;
}

.first-radar__btn {
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: inline-block;
}

@media (max-width: 450px) {
  .first-radar__btn {
    display: block;
    text-align: center;
  }
}

.first-radar__btn--start {
  color: #ffffff;
  background: -webkit-radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  background: -o-radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  background: radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
          box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
  margin: 0 24px 0 0;
  padding: 12px 32px;
}

@media (max-width: 450px) {
  .first-radar__btn--start {
    margin: 0 0 20px 0;
  }
}

.first-radar__btn--start:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.first-radar__btn--call {
  color: #2e0e5c;
  border: 2px solid #2e0e5c;
}

.first-radar__btn--call:hover {
  background-color: #2e0e5c;
  color: #fff;
}

.first-radar__video {
  border-radius: 50%;
  width: 185px;
  height: 194px;
  z-index: 1;
  position: relative;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 0 50px 0;
}

@media (max-width: 1500px) {
  .first-radar__video {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.first-radar__video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-linear-gradient(315deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  background: -o-linear-gradient(315deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  background: linear-gradient(135deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  border-radius: 50%;
  width: 185px;
  height: 194px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.first-radar__video-text {
  margin: 10px 0 0 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #ffffff;
}

.first-radar__video-clone {
  width: 185px;
  height: 194px;
  position: absolute;
  left: -10%;
  top: 7%;
  background: #f8f8f8;
  border-radius: 50%;
  z-index: -1;
}

.first-radar__circle {
  display: block;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: -webkit-linear-gradient(315deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  background: -o-linear-gradient(315deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  background: linear-gradient(135deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
  position: absolute;
  right: -25%;
  bottom: -20%;
}

.products-radar {
  padding: 100px 0 150px 0;
  background: url("../images/system_img/radar/products/bg.svg") top right/cover no-repeat;
}

.products-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1336px) {
  .products-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .products-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .products-radar__wrapper {
    max-width: 90%;
  }
}

.products-radar__title-block {
  max-width: 426px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 991px) {
  .products-radar__title-block {
    position: static;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .products-radar__title-block {
    display: block;
  }
}

.products-radar__text {
  margin: 9px 0 0 0;
  font-size: 15px;
  line-height: 18px;
}

@media (max-width: 991px) {
  .products-radar__text {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .products-radar__text {
    width: 100%;
  }
}

.products-radar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .products-radar__items {
    display: block;
    margin: 60px 0 0 0;
  }
}

.products-radar__item:nth-child(1) {
  margin: 25px 0 0 0;
}

.products-radar__item:nth-child(2) {
  margin: 80px 0 0 30px;
}

.products-radar__item:nth-child(3) {
  margin: 160px 0 0 30px;
}

.products-radar__item:nth-child(4) {
  margin: 240px 0 0 30px;
}

@media (max-width: 991px) {
  .products-radar__item:nth-child(1) {
    margin: 0 auto 0 auto;
  }
  .products-radar__item:nth-child(2) {
    margin: 25px auto 0 auto;
  }
  .products-radar__item:nth-child(3) {
    margin: 25px auto 0 auto;
  }
  .products-radar__item:nth-child(4) {
    margin: 25px auto 0 auto;
  }
}

.item-products {
  width: 312px;
  height: 313px;
  background: #ffffff;
  -webkit-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 66px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .item-products {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .item-products {
    height: auto;
    padding: 66px 25px 50px 25px;
  }
}

@media (max-width: 350px) {
  .item-products {
    padding: 66px 10px 50px 10px;
    width: auto;
  }
}

.item-products__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 30px 0;
}

.item-products__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.055em;
}

.plus-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .plus-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .plus-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .plus-radar__wrapper {
    max-width: 90%;
  }
}

.item-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 0 0;
}

@media (max-width: 768px) {
  .item-plus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .item-plus {
    margin: 50px 0 0 0;
  }
}

.item-plus:first-child {
  margin: 0 0 0 0;
}

.item-plus__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px 0 0;
}

@media (max-width: 768px) {
  .item-plus__body {
    padding: 0 0 0 0;
  }
}

.item-plus__body--right {
  text-align: right;
  padding: 0 0 0 25px;
}

@media (max-width: 768px) {
  .item-plus__body--right {
    padding: 0 0 0 0;
  }
}

.item-plus__text {
  margin: 18px 0 0 0;
  font-size: 15px;
  line-height: 18px;
  color: #131313;
}

.item-plus__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 25px;
}

@media (max-width: 768px) {
  .item-plus__img {
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
  }
}

.item-plus__img--right {
  padding: 0 25px 0 0;
}

@media (max-width: 768px) {
  .item-plus__img--right {
    padding: 0 0 0 0;
  }
}

.item-plus__img img {
  max-width: 100%;
}

.item-plus__text--right {
  padding: 0 0 0 10px;
  position: relative;
}

.item-plus__text--right:before {
  content: url("../images/system_img/radar/plus/point.svg");
  display: inline-block;
  margin: 0 7px 0 0;
}

.item-plus__btn {
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffffff;
  background: -webkit-radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  background: -o-radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  background: radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
          box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
  margin: auto 0 0 0;
  padding: 12px 32px;
}

.item-plus__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  .item-plus__btn {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 768px) {
  .item-plus--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.business-radar {
  background: url("../images/system_img/radar/business/bg.svg") top left/cover no-repeat;
  padding: 160px 0 100px 0;
  position: relative;
}

@media (max-width: 768px) {
  .business-radar {
    padding: 100px 0 50px 0;
  }
}

.business-radar__ellipse {
  position: absolute;
  left: 0;
  bottom: 10%;
  z-index: 0;
}

@media (max-width: 1400px) {
  .business-radar__ellipse {
    bottom: 50%;
  }
}

@media (max-width: 768px) {
  .business-radar__ellipse {
    display: none;
  }
}

.business-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .business-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .business-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .business-radar__wrapper {
    max-width: 90%;
  }
}

.business-radar__content {
  width: 50%;
}

@media (max-width: 1199px) {
  .business-radar__content {
    width: 100%;
  }
}

.business-radar__slider {
  position: relative;
  z-index: 1;
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.business-radar__slider .slick-arrow {
  font-size: 0;
  display: block;
  width: 11px;
  height: 7px;
  position: absolute;
  bottom: -50px;
}

.business-radar__slider .slick-arrow.slick-prev {
  background: url("../images/system_img/radar/business/Vector-p.svg") center/contain no-repeat;
  left: 0;
}

.business-radar__slider .slick-arrow.slick-next {
  background: url("../images/system_img/radar/business/Vector-n.svg") center/contain no-repeat;
  right: 0;
}

.business-radar__slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.business-radar__slider .slick-dots li {
  width: 4px;
  height: 4px;
  background: #ffffff;
  opacity: 0.4;
  margin: 0 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.business-radar__slider .slick-dots li.slick-active {
  width: 7px;
  height: 7px;
  opacity: 1;
}

.business-radar__slider .slick-dots li button {
  font-size: 0;
}

.business-radar__img {
  position: absolute;
  right: 0;
  top: 160px;
  width: 40vw;
}

@media (max-width: 1199px) {
  .business-radar__img {
    position: relative;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    margin: 50px 0 0 0;
  }
  .business-radar__img > img {
    display: none;
  }
}

.business-radar__img > img {
  width: 100%;
}

.business-radar__link-block {
  position: absolute;
  top: 12%;
  left: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (max-width: 1199px) {
  .business-radar__link-block {
    position: static;
  }
  .business-radar__link-block img {
    display: none;
  }
}

.business-radar__link-block img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.business-radar__text-link-block {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
}

@media (max-width: 1199px) {
  .business-radar__text-link-block {
    position: static;
    margin: 60px auto 0 auto;
  }
}

@media (max-width: 768px) {
  .business-radar__text-link-block {
    width: 100%;
  }
}

.business-radar__text-link {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #ffffff;
}

.business-radar__text-link span {
  font-weight: bold;
}

.business-radar__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  color: #300e5e;
  padding: 10px 30px;
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  -webkit-box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 15px 0 0 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.business-radar__link:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.slide-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-business__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

.slide-business__text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #ffffff;
  margin: 15px 0 0 0;
}

.slide-business__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 38px 0;
}

@media (max-width: 1199px) {
  .slide-business__images {
    max-width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1199px) {
  .slide-business__images {
    max-width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 15px 0;
  }
}

.slide-business__big-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 76%;
          flex: 0 1 76%;
}

.slide-business__big-img img {
  max-width: 100%;
  display: block;
}

.slide-business__column-images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-business__column-images img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  width: 100%;
  display: block;
}

.slide-business__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 23px 0 0 0;
}

.cases-radar {
  padding: 64px 0 76px 0;
}

.cases-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .cases-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .cases-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .cases-radar__wrapper {
    max-width: 90%;
  }
}

.cases-radar__wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #7f1fa1;
  border-radius: 5px;
  margin: 94px 0 0 0;
}

.cases-radar__title {
  margin: 0 0 35px 0;
}

.cases-radar__items {
  padding: 72px 0 0 0;
  position: relative;
}

@media (max-width: 768px) {
  .cases-radar__items {
    padding: 40px 0 0 0;
  }
}

.cases-radar__ellipse {
  width: 356px;
  height: 356px;
  border-radius: 50%;
  background: -webkit-linear-gradient(304.15deg, #711890 9.89%, #a02fc8 99.13%);
  background: -o-linear-gradient(304.15deg, #711890 9.89%, #a02fc8 99.13%);
  background: linear-gradient(145.85deg, #711890 9.89%, #a02fc8 99.13%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1199px) {
  .cases-radar__ellipse {
    width: 200px;
    height: 200px;
  }
}

.menu-cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .menu-cases {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .menu-cases {
    overflow-x: auto;
  }
}

.menu-cases__item {
  margin: 0 60px;
  padding: 0 0 11px 0;
  font-size: 15px;
  line-height: 18px;
  color: #131313;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease 0s;
  -o-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  white-space: nowrap;
}

.menu-cases__item:hover {
  opacity: 1;
}

.menu-cases__item:first-child {
  margin: 0 60px 0 0;
}

.menu-cases__item:last-child {
  margin: 0 0 0 60px;
}

@media (max-width: 991px) {
  .menu-cases__item {
    margin: 0 15px;
  }
  .menu-cases__item:first-child {
    margin: 0 15px 0 0;
  }
  .menu-cases__item:last-child {
    margin: 0 0 0 15px;
  }
}

.menu-cases__item._active {
  font-weight: 500;
  opacity: 1;
  position: relative;
}

.menu-cases__item._active:after {
  content: "";
  display: block;
  width: 120%;
  height: 2px;
  background-color: #131313;
  position: absolute;
  bottom: 0;
  left: -10%;
}

.item-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .item-case {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-case__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-case__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 45px;
}

@media (max-width: 991px) {
  .item-case__body {
    padding: 45px 0 0 0;
  }
}

.item-case__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #131313;
  margin: 0 0 15px 0;
}

.item-case__text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.055em;
  color: #131313;
}

.item-case__text--first {
  margin: 0 0 45px 0;
}

.item-case__num {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #131313;
  margin: 36px 0 0 0;
}

.images-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px 0 0;
}

@media (max-width: 991px) {
  .images-case {
    padding: 0 0 0 0;
  }
}

.images-case__column-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.images-case__column-small img {
  max-width: 100%;
}

.images-case__column-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images-case__row-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.images-case__row-big img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.images-case__row-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images-case__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.images-case__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.promo-radar {
  position: relative;
  padding: 0 0 80px 0;
}

.promo-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .promo-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .promo-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .promo-radar__wrapper {
    max-width: 90%;
  }
}

.promo-radar__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
}

@media (max-width: 500px) {
  .promo-radar__img {
    display: none;
  }
}

.promo-radar__img img {
  max-width: 100%;
}

.promo-radar__content {
  width: 60%;
}

@media (max-width: 991px) {
  .promo-radar__content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .promo-radar__content {
    width: 100%;
  }
}

.promo-radar__title {
  margin: 0 0 36px 0;
}

.promo-radar__items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px 0;
}

@media (max-width: 500px) {
  .promo-radar__items-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 25px 0;
  }
}

.promo-radar__subtitle {
  margin: 56px 0 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #721991;
}

@media (max-width: 991px) {
  .promo-radar__subtitle {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .promo-radar__subtitle {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .promo-radar__subtitle {
    width: 100%;
  }
}

.promo-radar__text {
  font-size: 15px;
  line-height: 18px;
  color: #525252;
  margin: 0 0 22px 0;
}

@media (max-width: 991px) {
  .promo-radar__text {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .promo-radar__text {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .promo-radar__text {
    width: 100%;
  }
}

.promo-radar__phone {
  display: inline-block;
  padding: 17px 35px 17px 79px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.promo-radar__phone span {
  font-size: 18px;
  line-height: 34px;
  color: #181818;
}

.promo-radar__phone span:before {
  content: url("../images/system_img/radar/promo/phone.svg");
  position: absolute;
  top: 12px;
  left: 35px;
  width: 34px;
  height: 34px;
}

.item-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 500px) {
  .item-promo {
    margin: 0 0 25px 0;
  }
  .item-promo:last-child {
    margin: 0 0 0 0;
  }
}

.item-promo__img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.item-promo__img img {
  max-width: 100%;
}

.item-promo__body {
  padding: 0 56px 0 22px;
}

@media (max-width: 768px) {
  .item-promo__body {
    padding: 0 22px 0 22px;
  }
}

.first-wallet {
  background: url("../images/system_img/wallet/bg-main.png") center/cover no-repeat;
  min-height: 100vh;
}

@media (max-width: 500px) {
  .first-wallet {
    min-height: auto;
  }
}

.first-wallet__wrapper {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  padding: 75px 0 15px 0;
}

@media (max-width: 1336px) {
  .first-wallet__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .first-wallet__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .first-wallet__wrapper {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .first-wallet__wrapper {
    padding: 45px 0 100px 0;
    min-height: auto;
  }
}

.first-wallet__logo img {
  max-width: 100%;
}

.first-wallet__body {
  position: absolute;
  top: 50%;
  right: 0;
  text-align: right;
  max-width: 50vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 991px) {
  .first-wallet__body {
    position: static;
    margin: 40px 0 0 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-width: 100%;
  }
}

.first-wallet__title {
  font-weight: bold;
  line-height: 121%;
  color: #ffffff;
  font-size: calc(45px + 17 * ((100vw - 320px) / 960));
}

.first-wallet__subtitle {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 10px 0 0 0;
}

@media (max-width: 500px) {
  .first-wallet__subtitle {
    margin: 0 0 0 0;
  }
}

.first-wallet__text {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin: 20px 0 0 0;
}

.first-wallet__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 0 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 500px) {
  .first-wallet__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.first-wallet__btn {
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: inline-block;
}

@media (max-width: 500px) {
  .first-wallet__btn {
    display: block;
    text-align: center;
  }
}

.first-wallet__btn--call {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #300e5e;
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  background: -o-radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ececec 100%);
  -webkit-box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.first-wallet__btn--call:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.first-wallet__btn--start {
  color: #ffffff;
  background: -webkit-linear-gradient(354.57deg, #ff9085 0.55%, #fb6fbb 98.27%);
  background: -o-linear-gradient(354.57deg, #ff9085 0.55%, #fb6fbb 98.27%);
  background: linear-gradient(95.43deg, #ff9085 0.55%, #fb6fbb 98.27%);
  -webkit-box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
          box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
  margin: 0 0 0 30px;
}

@media (max-width: 500px) {
  .first-wallet__btn--start {
    margin: 20px 0 0 0;
  }
}

.first-wallet__btn--start:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.about-wallet {
  padding: 97px 0 15px 0;
}

@media (max-width: 500px) {
  .about-wallet {
    padding: 50px 0 0 0;
  }
}

.about-wallet__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .about-wallet__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .about-wallet__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .about-wallet__wrapper {
    max-width: 90%;
  }
}

.about-wallet__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #131313;
  margin: 0 0 5px 0;
}

.about-wallet__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #131313;
}

.about-wallet__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 65px 0 0 0;
  padding: 0 0 10px 0;
  background: url("../images/system_img/wallet/nums.svg") center/contain no-repeat;
}

@media (max-width: 991px) {
  .about-wallet__items {
    background: url("../images/system_img/wallet/nums.svg") top left/contain no-repeat;
  }
}

@media (max-width: 500px) {
  .about-wallet__items {
    background: none;
  }
}

.about-wallet__img {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-height: 100%;
}

.about-wallet__img img {
  max-height: 100%;
}

.about-wallet__ps {
  margin: 60px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #131313;
}

.about-wallet__ps span {
  font-weight: bold;
}

.item-about {
  max-width: 40%;
  margin: 0 0 100px 0;
}

.item-about:first-child {
  margin: -20px 0 0 0;
}

.item-about:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 1336px) {
  .item-about {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 991px) {
  .item-about {
    max-width: 100%;
    padding: 0 0 0 80px;
  }
  .item-about:first-child {
    margin: -20px 0 40px 0;
  }
}

@media (max-width: 500px) {
  .item-about {
    padding: 0 0 0 0;
  }
  .item-about:first-child {
    margin: 0 0 40px 0;
  }
}

.item-about__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #131313;
  margin: 0 0 13px 0;
}

.item-about__text {
  font-size: 15px;
  line-height: 18px;
  color: #131313;
}

.item-about__text span {
  font-weight: bold;
}

.item-about--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 991px) {
  .item-about--right {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.capabality-wallet {
  padding: 129px 0 0 0;
  background: url("../images/system_img/wallet/lines.svg") center/cover no-repeat;
}

@media (max-width: 500px) {
  .capabality-wallet {
    padding: 60px 0 0 0;
  }
}

.capabality-wallet__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .capabality-wallet__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .capabality-wallet__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .capabality-wallet__wrapper {
    max-width: 90%;
  }
}

.capabality-wallet__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  color: #131313;
  margin: 0 0 30px 0;
}

.capabality-wallet__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-capabality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 66.667%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 140px 0;
}

@media (max-width: 1199px) {
  .item-capabality {
    max-width: 80%;
  }
}

.item-capabality:first-child {
  margin: 0 0 0 0;
}

.item-capabality:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 1199px) {
  .item-capabality {
    max-width: 80%;
  }
}

@media (max-width: 991px) {
  .item-capabality {
    max-width: 100%;
  }
  .item-capabality:first-child {
    margin: 0 0 140px 0;
  }
}

@media (max-width: 768px) {
  .item-capabality {
    margin: 0 0 60px 0;
  }
  .item-capabality:first-child {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 500px) {
  .item-capabality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-capabality__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-capabality__img img {
  max-width: 100%;
}

.item-capabality__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  padding: 0 0 0 90px;
}

@media (max-width: 768px) {
  .item-capabality__body {
    padding: 0 0 0 40px;
  }
}

@media (max-width: 500px) {
  .item-capabality__body {
    padding: 40px 0 0 0;
  }
}

.item-capabality__body--right {
  padding: 0 90px 0 0;
}

@media (max-width: 768px) {
  .item-capabality__body--right {
    padding: 0 40px 0 0;
  }
}

@media (max-width: 500px) {
  .item-capabality__body--right {
    padding: 40px 0 0 0;
  }
}

.item-capabality__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #131313;
}

.item-capabality__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #131313;
  margin: 7px 0 0 0;
}

.item-capabality--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .item-capabality--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.cards-wallet {
  padding: 193px 0 0 0;
}

@media (max-width: 500px) {
  .cards-wallet {
    padding: 80px 0 0 0;
  }
}

.cards-wallet__wrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1336px) {
  .cards-wallet__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .cards-wallet__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .cards-wallet__wrapper {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .cards-wallet__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards-wallet__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  padding: 0 320px 50px 0;
}

@media (max-width: 1199px) {
  .cards-wallet__content {
    padding: 0 70px 50px 0;
  }
}

@media (max-width: 768px) {
  .cards-wallet__content {
    padding: 0 0 50px 0;
  }
}

.cards-wallet__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #131313;
  margin: 0 0 10px 0;
}

.cards-wallet__subtitle {
  font-size: 15px;
  line-height: 18px;
  color: #131313;
}

.cards-wallet__menu {
  margin: 30px 0 38px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-wallet__menu-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(19, 19, 19, 0.4);
  padding: 0 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.cards-wallet__menu-item:hover {
  color: #671784;
}

.cards-wallet__menu-item._active {
  color: #671784;
}

.cards-wallet__menu-item._active:after {
  content: "";
  display: block;
  width: 110%;
  height: 2px;
  background: #671784;
  margin: 8px 0 0 -5%;
}

.cards-wallet__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 768px) {
  .cards-wallet__phone {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.cards-wallet__phone img {
  max-width: 100%;
}

.item-card__img img {
  max-width: 100%;
}

.item-card__title {
  margin: 40px 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #131313;
}

.item-card__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #131313;
}

.item-card__text span {
  font-weight: bold;
}

.scope-wallet {
  padding: 85px 0 70px 0;
  background: url("../../images/system_img/wallet/scope/bg.png") center/cover no-repeat;
}

.scope-wallet__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .scope-wallet__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .scope-wallet__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .scope-wallet__wrapper {
    max-width: 90%;
  }
}

.scope-wallet__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}

.scope-wallet__subtitle {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  max-width: 550px;
  margin: 10px auto 0 auto;
}

.scope-wallet__items {
  margin: 65px 0 0 0;
}

.scope-wallet__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 60px 0;
}

.scope-wallet__row:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 650px) {
  .scope-wallet__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 0 0;
  }
}

.item-scope {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .item-scope {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 0 60px 0;
  }
}

.item-scope__img {
  max-width: 160px;
}

.item-scope__img img {
  max-width: 100%;
}

.item-scope__text {
  margin: 15px 0 0 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.footer-radar {
  background: -webkit-linear-gradient(328.15deg, #a02fc8 8%, #70178f 71.63%);
  background: -o-linear-gradient(328.15deg, #a02fc8 8%, #70178f 71.63%);
  background: linear-gradient(121.85deg, #a02fc8 8%, #70178f 71.63%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  padding: 70px 0 55px 0;
}

.footer-radar__wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .footer-radar__wrapper {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .footer-radar__wrapper {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .footer-radar__wrapper {
    max-width: 90%;
  }
}

.footer-radar__title {
  color: #fff;
}

.footer-radar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 70px 0;
}

@media (max-width: 768px) {
  .footer-radar__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-radar__ellipse-1 {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  top: 15%;
  right: 8%;
}

@media (max-width: 1199px) {
  .footer-radar__ellipse-1 {
    top: 45%;
  }
}

.footer-radar__ellipse-2 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  bottom: 15%;
  right: 8%;
}

@media (max-width: 1199px) {
  .footer-radar__ellipse-2 {
    width: 45px;
    height: 45px;
  }
}

.footer-radar__ellipse-3 {
  position: absolute;
  width: 193px;
  height: 193px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  bottom: 25%;
  right: 0;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
}

@media (max-width: 1199px) {
  .footer-radar__ellipse-3 {
    width: 100px;
    height: 100px;
  }
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .item-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 30px 0;
  }
  .item-footer:last-child {
    margin: 0 0 0 0;
  }
}

.item-footer__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  margin: 0 12px 0 0;
}

.item-footer__img img {
  max-width: 100%;
}

.item-footer__text {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.block-ps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-ps__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-ps__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 17px;
  margin: 0 9px 0 0;
}

.block-ps__logo img {
  max-width: 100%;
}

.block-ps__label {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.block-ps__label:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
  margin: 0 9px 0 0;
  position: relative;
  top: 2px;
}

.block-ps__link {
  margin: 13px 0 0 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.055em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
