.cards-wallet {
	padding: 250px 0 0 0;
	position: relative;
	background-color: #fff;

	@media (max-width: $sm) {
		padding: 80px 0 0 0;
	}

	@media (max-width: 500px) {
		padding: 80px 0 0 0;
	}
	&__rectangle-1 {
		position: absolute;
		top: 0;
		left: 0;

		@media (max-width: $sm) {
			display: none;
		}
	}

	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;
		display: flex;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}

		@media (max-width: $xs) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 66.667%;
		padding: 0 320px 50px 0;

		@media (max-width: $md) {
			padding: 0 70px 50px 0;
		}

		@media (max-width: $xs) {
			padding: 0 0 50px 0;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		color: #131313;
		margin: 0 0 10px 0;
	}

	&__subtitle {
		font-size: 15px;
		line-height: 18px;
		color: #131313;
	}

	&__menu {
		margin: 30px 0 38px 0;
		display: flex;
		justify-content: space-between;

		@media (max-width: 480px) {
			// justify-content: flex-start;
		}
	}

	&__menu-item {
		flex: 0 1 33.333%;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: rgba(19, 19, 19, 0.4);
		padding: 0 5px;
		text-align: center;
		cursor: pointer;
		transition: color 0.3s ease 0s;

		&:hover {
			color: #671784;
		}

		&._active {
			color: #671784;

			&:after {
				content: "";
				display: block;
				width: 110%;
				height: 2px;
				background: #671784;
				margin: 8px 0 0 -5%;
			}
		}
	}

	&__item {
	}

	&__phone {
		flex: 0 1 33.333%;
		align-self: flex-end;

		@media (max-width: $xs) {
			align-self: center;
		}

		img {
			max-width: 100%;
		}
	}
}

.item-card {
	&__img {
		max-width: 343px;
		img {
			max-width: 100%;
		}
	}

	&__title {
		margin: 40px 0 20px 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #131313;
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		color: #131313;

		span {
			font-weight: bold;
		}
	}
}
