.cases-radar {
	padding: 64px 0 76px 0;
	background-color: #fff;

	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #7f1fa1;
			border-radius: 5px;
			margin: 94px 0 0 0;
		}
	}

	&__title {
		margin: 0 0 35px 0;
	}

	&__content {
	}

	&__menu {
	}

	&__items {
		padding: 72px 0 0 0;
		position: relative;

		@media (max-width: $xs) {
			padding: 40px 0 0 0;
		}
	}

	&__item {
	}

	&__ellipse {
		width: 356px;
		height: 356px;
		border-radius: 50%;
		background: linear-gradient(145.85deg, #711890 9.89%, #a02fc8 99.13%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		transform: translateX(-50%);

		@media (max-width: $md) {
			width: 200px;
			height: 200px;
		}
	}
}
.menu-cases {
	display: flex;
	justify-content: center;

	@media (max-width: $sm) {
		justify-content: space-between;
	}

	@media (max-width: 500px) {
		overflow-x: auto;
	}

	&__item {
		margin: 0 60px;
		padding: 0 0 11px 0;
		font-size: 15px;
		line-height: 18px;
		color: #131313;
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.2s ease 0s;
		white-space: nowrap;

		&:hover {
			opacity: 1;
		}

		&:first-child {
			margin: 0 60px 0 0;
		}

		&:last-child {
			margin: 0 0 0 60px;
		}

		@media (max-width: $sm) {
			margin: 0 15px;

			&:first-child {
				margin: 0 15px 0 0;
			}

			&:last-child {
				margin: 0 0 0 15px;
			}
		}

		&._active {
			font-weight: 500;
			opacity: 1;
			position: relative;

			&:after {
				content: "";
				display: block;
				width: 120%;
				height: 2px;
				background-color: #131313;
				position: absolute;
				bottom: 0;
				left: -10%;
			}
		}
	}
}
.item-case {
	display: flex;
	position: relative;
	z-index: 2;

	@media (max-width: $sm) {
		flex-direction: column;
	}
	&__images {
		flex: 0 1 50%;
		align-self: flex-start;

		@media (max-width: $sm) {
		}
	}

	&__body {
		flex: 0 1 50%;
		padding: 0 0 0 45px;

		@media (max-width: $sm) {
			padding: 45px 0 0 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #131313;
		margin: 0 0 15px 0;
	}

	&__text {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.055em;
		color: #131313;

		&--first {
			margin: 0 0 45px 0;
		}
	}

	&__num {
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #131313;
		margin: 36px 0 0 0;
	}
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.images-case {
	display: flex;
	padding: 0 45px 0 0;
	@media (max-width: $sm) {
		padding: 0 0 0 0;
	}

	&--column {
		flex-direction: column;
	}

	&__column {
		flex: 0 0 50%;
		max-height: 350px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		img {
			max-width: 100%;
		}

		&--sh {
			height: 180px;
			display: block;
			padding: 0 4px;

			// overflow: hidden;
		}
	}

	&__column-small {
		flex: 0 1 33.333%;

		img {
			max-width: 100%;
		}
	}

	&__column-big {
		flex: 0 1 66.667%;
		display: flex;
		flex-direction: column;
	}

	&__row {
		width: 100%;

		img {
			max-width: 100%;
		}

		&--t {
			transform: translateY(-3px);
		}

		&--b {
			transform: translateY(4px);
		}

		&--flex {
			display: flex;
		}
	}

	&__row-big {
		flex: 0 1 66.667%;

		img {
			object-fit: cover;
			max-width: 100%;
		}
	}

	&__row-small {
		flex: 0 1 33.333%;
		display: flex;
	}

	&__img {
		flex: 0 1 50%;

		img {
			object-fit: cover;
			max-width: 100%;
		}
	}
}

.sh-img {
	width: 100%;
	height: 100%;
}
