.first-radar {
	padding: calc(7vh + 46px) 0 15px 0;
	position: relative;

	min-height: 100vh;

	@media (max-width: 1025px) {
		min-height: auto;
		padding: calc(7vh + 46px) 0 0 0;
	}

	@media (max-width: $xs) {
		padding: 66px 0 0 0;
	}
	&__wrapper {
		display: flex;
		min-height: calc(93vh - 61px);

		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}

		@media (max-width: 1025px) {
			min-height: auto;
		}
	}

	&__content {
		padding: 10vh 0 0 0;
		width: 40%;
		position: relative;
		z-index: 2;

		@media (max-width: $lg) {
			padding: 8vh 0 0 0;
			width: 50%;
		}

		@media (max-width: $sm) {
			padding: 8vh 0 0 0;
			width: 60%;
		}

		@media (max-width: $xs) {
			width: 100%;
		}

		@media (max-width: 450px) {
			padding: 10px 0 0 0;
		}
	}

	&__img {
		position: absolute;
		top: calc(7vh + 46px);
		right: 0;
		width: 60vw;
		height: calc(93vh - 46px);
		background: url("../images/system_img/radar/bg-first.png") top right / contain no-repeat;

		@media (max-width: $lg) {
			width: 50vw;
		}

		@media (max-width: 1025px) {
			height: 50vh;
		}

		@media (max-width: $sm) {
			background: url("../images/system_img/radar/bg-first.png") bottom right / contain no-repeat;
		}

		@media (max-width: $xs) {
			display: none;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;

		color: #53136a;
	}

	&__text {
		margin: 13px 0 0 0;
		font-size: 15px;
		line-height: 153.9%;
	}

	&__buttons {
		margin: 27px 0 30px 0;
	}

	&__btn {
		padding: 10px 30px;
		border-radius: 8px;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		transition: all 0.5s ease 0s;
		display: inline-block;

		@media (max-width: 450px) {
			display: block;
			text-align: center;
		}
	}

	&__btn--start {
		color: #ffffff;
		background: radial-gradient(115.2% 1475.54% at 50% 50%, #fa3187 0%, #ed227b 100%);
		box-shadow: 0px 10px 20px rgba(245, 43, 130, 0.35);
		margin: 0 24px 0 0;
		padding: 12px 32px;

		@media (max-width: 450px) {
			margin: 0 0 20px 0;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	&__btn--call {
		color: #2e0e5c;
		border: 2px solid #2e0e5c;

		&:hover {
			background-color: #2e0e5c;
			color: #fff;
		}
	}

	&__video {
		border-radius: 50%;
		width: 185px;
		height: 194px;
		z-index: 1;
		position: relative;

		transform: translateX(-50%);
		margin: 100px 0 50px 0;

		@media (max-width: 1500px) {
			transform: none;
		}
	}

	&__video-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: linear-gradient(135deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);

		border-radius: 50%;
		width: 185px;
		height: 194px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&__video-text {
		margin: 10px 0 0 0;
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		letter-spacing: 0.055em;

		color: #ffffff;
	}

	&__video-clone {
		width: 185px;
		height: 194px;
		position: absolute;
		left: -10%;
		top: 7%;
		background: #f8f8f8;
		border-radius: 50%;
		z-index: -1;
	}

	&__circle {
		display: block;
		width: 59px;
		height: 59px;
		border-radius: 50%;
		background: linear-gradient(135deg, #ff974f 14.65%, #a02fc8 14.65%, #711890 54.24%);
		position: absolute;
		right: -25%;
		bottom: -20%;
	}
}
