.footer-radar {
	background: linear-gradient(121.85deg, #a02fc8 8%, #70178f 71.63%);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	position: relative;
	padding: 70px 0 55px 0;
	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;

		@media (max-width: $xs) {
			flex-direction: column;
		}
	}

	&__title {
		color: #fff;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 40px 0 70px 0;

		@media (max-width: $xs) {
			flex-direction: column;
		}
	}

	&__item {
	}

	&__block {
	}

	&__ellipse-1 {
		position: absolute;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
		top: 15%;
		right: 8%;

		@media (max-width: $lg) {
			top: 60%;
			right: 6%;
		}

		@media (max-width: $md) {
			top: 65%;
		}
		@media (max-width: $xs) {
			top: 73%;
			right: 8%;
		}
		@media (max-width: 580px) {
			display: none;
		}
	}

	&__ellipse-2 {
		position: absolute;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
		bottom: 15%;
		right: 8%;

		@media (max-width: $lg) {
			width: 45px;
			height: 45px;
			bottom: 7%;
			right: 5%;
		}

		@media (max-width: $md) {
			bottom: 4%;
			right: 6%;
		}

		@media (max-width: $xs) {
			right: 8%;
		}

		@media (max-width: 580px) {
			display: none;
		}
	}

	&__ellipse-3 {
		position: absolute;
		width: 193px;
		height: 193px;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
		bottom: 25%;
		right: 0;
		transform: translateX(40%);

		@media (max-width: $lg) {
			width: 100px;
			height: 100px;
			bottom: 10%;
		}

		@media (max-width: $md) {
			bottom: 7%;
		}

		@media (max-width: $xs) {
		}

		@media (max-width: 580px) {
			display: none;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;

		color: #fff;
		margin: 20px 0 8px 0;

		span {
			font-weight: bold;
		}

		max-width: 313px;
	}

	&__link {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		position: relative;
		color: #fff;
		padding: 0 0 0 19px;

		&::before {
			content: url("../images/system_img/radar/footer/globe.svg");
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.item-footer {
	display: flex;
	flex: 0 1 33.333%;
	justify-content: flex-start;
	margin: 0 0 20px 0;

	&:last-child {
		margin: 0 0 0 0;
	}

	@media (max-width: $xs) {
		justify-content: flex-start;
		margin: 0 0 30px 0;

		&:last-child {
			margin: 0 0 0 0;
		}
	}

	&__img {
		flex: 0 0 28px;
		margin: 0 12px 0 0;

		img {
			max-width: 100%;
		}
	}

	&__text {
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;

		&--wallet {
			color: #131313;
		}
	}
}
.block-ps {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	@media (max-width: $xs) {
		margin: 50px 0 0 0;
	}
	&__logo-block {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		flex: 0 0 70px;
		height: 17px;
		margin: 0 9px 0 0;

		img {
			max-width: 100%;
		}
	}

	&__label {
		font-size: 15px;
		line-height: 18px;

		color: #ffffff;

		&:before {
			content: "";
			display: inline-block;
			width: 2px;
			height: 13px;
			background-color: #ffffff;
			margin: 0 9px 0 0;
			position: relative;
			top: 2px;
		}

		&--wallet {
			color: #190051;

			&:before {
				background-color: #190051;
			}
		}
	}

	&__link {
		margin: 13px 0 0 0;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.055em;
		text-decoration-line: underline;
		color: #ffffff;
		transition: 0.3s;

		&--wallet {
			color: #131313;
		}
	}
}

.footer-wallet {
	padding: 100px 0 35px 0;
	position: relative;
	background-color: #fff;

	@media (max-width: $xs) {
		padding: 50px 0 50px 0;
	}

	&__rectangle-1 {
		position: absolute;
		right: 0;
		top: 8%;

		@media (max-width: 1500px) {
			top: 55%;
		}

		@media (max-width: $sm) {
			top: 5%;
		}

		@media (max-width: $xs) {
			display: none;
		}
	}

	&__rectangle-2 {
	}

	&__rectangle-3 {
	}

	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}
	}

	&__flex {
		display: flex;
		margin: 0 0 90px 0;

		@media (max-width: $sm) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 150px 0 0;

		&--radar {
			padding: 0 50px 0 0;
		}

		&:last-child {
			padding: 0 0 0 0;
		}

		@media (max-width: $md) {
			padding: 0 50px 0 0;
		}

		@media (max-width: $sm) {
			padding: 0 0 50px 0;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		margin: 14px 0 0 0;
	}

	&__item {
	}

	&__title {
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;

		color: #131313;
	}

	&__subtitle {
		font-size: 15px;
		line-height: 18px;

		color: #131313;
	}

	&__phone-link {
		font-size: 18px;
		line-height: 187.4%;

		color: #ffffff;
		padding: 17px 35px 17px 80px;
		background: #8a24ae;
		box-shadow: 0px 6px 12px rgba(138, 36, 174, 0.35);
		border-radius: 10px;
		position: relative;
		white-space: nowrap;
		display: inline-block;
		margin: 17px 0 0 0;

		&:before {
			content: url("../images/system_img/wallet/footer/phone.svg");
			position: absolute;
			top: 8px;
			left: 35px;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;

		color: #131313;
		margin: 20px 0 8px 0;
	}

	&__link {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		position: relative;
		color: #131313;
		padding: 0 0 0 19px;

		&::before {
			content: url("../images/system_img/wallet/footer/globe.svg");
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
