.products-radar {
	padding: 100px 0 150px 0;
	// background: url("../images/system_img/radar/products/bg.svg") top right / cover no-repeat;
	position: relative;

	&__bg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		svg {
			width: 100vw;
			height: 100%;
		}
	}

	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}

		position: relative;
	}

	&__title-block {
		max-width: 426px;
		text-align: right;

		position: absolute;
		top: 0;
		right: 0;

		@media (max-width: $sm) {
			position: static;
			max-width: none;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		@media (max-width: $xs) {
			display: block;
		}
	}

	&__title {
	}

	&__text {
		margin: 9px 0 0 0;
		font-size: 15px;
		line-height: 18px;

		@media (max-width: $sm) {
			width: 50%;
		}

		@media (max-width: $xs) {
			width: 100%;
		}
	}

	&__items {
		display: flex;

		@media (max-width: $sm) {
			display: block;
			margin: 60px 0 0 0;
		}
	}

	&__item {
		&:nth-child(1) {
			margin: 25px 0 0 0;
		}

		&:nth-child(2) {
			margin: 80px 0 0 30px;
		}

		&:nth-child(3) {
			margin: 160px 0 0 30px;
		}

		&:nth-child(4) {
			margin: 240px 0 0 30px;
		}

		@media (max-width: $sm) {
			&:nth-child(1) {
				margin: 0 auto 0 auto;
			}

			&:nth-child(2) {
				margin: 25px auto 0 auto;
			}

			&:nth-child(3) {
				margin: 25px auto 0 auto;
			}

			&:nth-child(4) {
				margin: 25px auto 0 auto;
			}
		}
	}
}

.item-products {
	width: 312px;
	height: 313px;
	background: #ffffff;
	box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	padding: 66px 25px 0 25px;
	display: flex;
	flex-direction: column;

	@media (max-width: $md) {
		height: 400px;
	}

	@media (max-width: $sm) {
		height: auto;
		padding: 66px 25px 50px 25px;
	}

	@media (max-width: 350px) {
		padding: 66px 10px 50px 10px;
		width: auto;
	}

	&__img {
		align-self: center;
		margin: 0 0 30px 0;
	}

	&__text {
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.055em;
	}
}
