.rates-wallet {
	padding: 100px 0 25px 0;
	background: #fff url("../images/system_img/wallet/lines-2.svg") center / cover no-repeat;
	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		color: #131313;
		margin: 0 0 68px 0;
	}

	&__content {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__card {
	}
}
.card-rate {
	max-width: 733px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	padding: 0 0 32px 0;
	background-color: #fff;

	&__head {
		background: linear-gradient(92.96deg, #722695 24%, #421180 73.91%);
		width: 100%;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		padding: 33px 0 28px 0;
	}

	&__wrapper {
		padding: 0 46px 0 65px;

		@media (max-width: $xs) {
			padding: 0 15px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		color: #ffffff;
	}

	&__info {
		padding: 43px 0 0 0;
	}

	&__info-item {
		display: flex;
		padding: 0 0 0 9px;
		margin: 0 0 24px 0;

		&:last-child {
			margin: 0 0 6px 0;
		}

		p {
			font-size: 18px;
			line-height: 22px;

			color: #131313;
		}
	}

	&__svg-wrapp {
		margin: 0 28px 0 0;
		width: 25px;
		height: 25px;
	}

	&__first-sum {
		text-align: right;
		font-size: 32px;
		line-height: 81.9%;
		color: #431280;

		span {
			font-weight: 600;
		}
	}
	&__hide-block {
		padding: 60px 0 0 0;
	}

	&__scale {
	}

	&__ps {
		font-size: 18px;
		line-height: 22px;

		color: #131313;

		opacity: 0.5;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: rgba(196, 196, 196, 0.3);
			margin: 20px 0;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		color: #131313;
		margin: 0 0 12px 0;
	}

	&__item-quantity {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		line-height: 20px;

		color: #131313;
		margin: 0 0 5px 0;
	}

	&__sum-block {
		margin: 18px 0 0 0;
		display: flex;
		justify-content: space-between;
	}

	&__sum-text {
		font-weight: 500;
		font-size: 26px;
		line-height: 32px;

		color: #131313;
	}

	&__sum {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		color: #131313;

		transition: 0.3s;
	}

	&__btn-block {
		margin: 20px 0 0 0;
		text-align: right;

		@media (max-width: 450px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__btn-demo {
		display: inline-block;
		margin: 0 35px 0 0;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;

		color: #4c1368;
		padding: 8.5px 45px;
		background: #ffffff;
		border: 1.5px solid #4c1368;
		box-sizing: border-box;
		border-radius: 8px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: translateY(-3px);
		}

		@media (max-width: 450px) {
			align-self: flex-end;
			margin: 0 0 15px 0;
		}
	}

	&__btn-start {
		display: inline-block;
		background: linear-gradient(102.85deg, #ef779b 12.38%, #cb33a0 85.89%);
		box-shadow: 0px 4px 8px rgba(203, 51, 161, 0.15);
		border-radius: 8px;
		padding: 10px 42px;
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;

		color: #ffffff;

		transition: 0.3s;

		&:hover {
			transform: translateY(-3px);
		}

		@media (max-width: 450px) {
			align-self: flex-end;
		}
	}
}
.scale-rate {
	margin: 0 0 58px 0;
	position: relative;
	height: 8px;
	background: linear-gradient(90.04deg, #eeeeee 5.9%, #eaeaea 96.6%);
	border-radius: 26px;
	&__var {
		position: absolute;
		top: 22px;
		font-size: 14px;
		line-height: 17px;
		color: #131313;
		cursor: pointer;
		transition: 0.3s;

		span {
			opacity: 0.5;
		}

		&._active {
			font-weight: bold;
			color: #4b1584;

			span {
				opacity: 1;
			}
		}

		&:before {
			content: "";
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #6b2392;
			opacity: 1;
			position: absolute;
			left: 0;
			top: -20px;
		}
	}

	&__var--3 {
		left: 2px;
	}

	&__var--6 {
		left: 30%;

		&:before {
			left: 50%;
		}
	}

	&__var--9 {
		left: 60%;

		&:before {
			left: 50%;
		}
	}

	&__var--12 {
		right: 0;

		&:before {
			left: 98%;
		}
	}

	&__ball {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #6b2392;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
		position: absolute;
		top: -6px;
		left: 0;
		transition: 0.3s;
	}

	&__line {
		display: block;
		height: 8px;

		background: #6b2392;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 26px;

		width: 0;
		transition: 0.3s;
	}
}
