.rates-wallet {
	padding: 100px 0 200px 0;
	&__wrapper {
		max-width: 1250px;
		margin: 0 auto;

		@media (max-width: $lg) {
			max-width: 1150px;
		}

		@media (max-width: $md) {
			max-width: 930px;
		}

		@media (max-width: $sm) {
			max-width: 90%;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		color: #131313;
		margin: 0 0 68px 0;
	}

	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
	}

	&__promo {
	}
}
.item-rates {
	flex: 0 1 320px;
	display: flex;
	flex-direction: column;

	&__blank {
		padding: 0 0 35px 0;
		background: #ffffff;
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}

	&__head {
		font-family: "SF UI Display" sans-serif;
		padding: 41px 45px 35px 45px;
		text-align: center;
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		color: #ffffff;
		white-space: nowrap;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		background: linear-gradient(180deg, #551aa1 0%, #3d0e79 100%);
		margin: 0 0 60px 0;
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 20px solid #3d0e79;
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
		}

		&--plus {
			background: linear-gradient(180deg, #8929b2 0%, #621683 100%);

			&:after {
				border-top: 20px solid #621683;
			}
		}

		&--premium {
			background: linear-gradient(180deg, #5d127d 0%, #410a58 100%);

			&:after {
				border-top: 20px solid #410a58;
			}
		}
	}

	&__list {
		padding: 0 45px 0 60px;

		&:before {
			content: "";
			width: 80%;
			height: 1px;
			display: block;
			margin: 0 auto 37px auto;
			background: #a6a6a6;
		}

		&:after {
			content: "";
			width: 80%;
			height: 1px;
			display: block;
			margin: 37px auto 0 auto;
			background: #a6a6a6;
		}
	}

	&__item {
		font-size: 15px;
		line-height: 18px;
		color: #131313;
		padding: 0 0 0 50px;
		position: relative;
		margin: 0 0 30px 0;

		&:last-child {
			margin: 0 0 0 0;
		}
	}

	&__item--yes {
		&:before {
			content: url("../images/system_img/wallet/rates/Vector.svg");
			position: absolute;
			left: 0;
			top: -5px;
		}
	}

	&__item--no {
		&:before {
			content: url("../images/system_img/wallet/rates/x.svg");
			position: absolute;
			left: 0;
			top: -5px;
		}
	}

	&__price {
		margin: 20px 0 0 0;
		font-size: 50px;
		line-height: 61px;
		text-align: center;
		color: #131313;

		span {
			font-weight: bold;
		}
	}

	&__btn {
		align-self: center;
		display: inline-block;
		margin: 44px 0 0 0;
		padding: 10px 40px;
		border: 2px solid #6b218d;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		border-radius: 8px;
		color: #742797;
		cursor: pointer;
		background: #fff;
		transition: background 0.3s ease 0s;
		box-shadow: 0px 10px 20px rgba(192, 43, 245, 0.35);

		&:hover {
			color: #ffffff;
			background: linear-gradient(95.43deg, #a748cf 0.55%, #6d228f 98.27%);
			padding: 12px 42px;
			border: none;
		}
	}
}
.promo-rates {
	margin: 100px 0 0 0;
	text-align: center;
	&__title {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		text-align: center;

		color: #131313;
	}

	&__text {
		text-align: center;
		max-width: 750px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		margin: 11px auto 30px auto;

		color: #131313;

		span {
			font-weight: bold;
		}
	}

	&__btn {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: #ffffff;
		background: linear-gradient(180deg, #6c25c6 0%, #ff9086 0.01%, #fc70ba 100%);
		box-shadow: 0px 0px 25px #fe7ea5;
		width: 178px;
		height: 178px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin: 0 auto;
		animation: pulse 2s infinite;
		cursor: pointer;

		p {
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(254, 126, 165, 0);
	}
	70% {
		box-shadow: 0 0 0 25px rgba(254, 126, 165, 0.1);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(254, 126, 165, 0);
	}
}
